/**
 * Taken from http://todomvc.com/examples/react/node_modules/todomvc-app-css/index.css
 */

 html,
 body {
   margin: 0;
   padding: 0;
 }
 
 body {
   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
   line-height: 1.4em;
   background: #f5f5f5;
   min-width: 230px;
   /* max-width: 750px; */
   margin: 0 auto;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-weight: 300;
 }
 